 /*Fontes utilizadas no site*/
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,500&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');
 /*Configuração geral do site*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
/*Variações de cores para utilizar no site*/
:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#222;
    --blue:#00008b;
    --roxo:#201b2c;
    --verde:#0ABF04;
    --verdeclaro:#00ff88;
    --bege:#dbd6d1;
}

/*Cor principal do site*/
body{
    background:var(--dark);
    border-top: 20px;
    height: 100%;
    color: #fff;
}
.theme-light{
    background: #fff;
    color: #222;  
}
.theme-dark{
    background:#222;
    color: #fff;
}
button{
    background: white;
    border-radius: 50%;
    height: 50%;
    display: inline;
    margin-left: 60%;   
}
.fa-circle-half-stroke {
    margin: -20px;
    margin-left: 0px;
    border-radius: 50%;
    height: 50%;
    display: inline;
    position: relative;
    color: #fff;
}

.fa-circle-half-stroke a:hover {
    color:red;
    cursor: pointer;
}
 
/*Configurações do corpo principal*/

/*Config geral*/
.home{
    position: relative;
    top: -80px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    margin-bottom: -100px;
}
.home-text{
    max-width: 37rem;
}

/*Titulo h4*/
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--verde);
    margin-bottom: 1rem;
}

/*Titulo h1*/
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;    
    text-shadow: 3px 3px 3px #0ABF04;
}

/*Paragrafos*/
.home-text p{
    margin-bottom: 4rem;
    color: var(--verde);
}

/*Botão*/
.home-btn{
    padding: 15px 45px;
    background: var(--verde);
    color: var(--black);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
/*Config do houver do botão*/

.home-btn:hover{
    background:#a1f899;
    color:var(--dark);
}
/*Imagens*/
.home-img img{
    width: 100%;
    border: none;
}
@media (max-width:1250px) {
    .home-img{
        display: none;
    }
    
}



/*Responsividade*/
@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    body{
        padding-left: 0%;
        padding-right: 0%;
    }
    .home-img{
        display: none;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    @media (max-width: 340px) {
        .home {
            padding: 30px 5%;
        }
    
        .home-text .text-h1 {
            font-size: 2rem;
        }
    
        .home-btn {
            padding: 10px 15px;
        }
    }

    
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
        
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    }
}

.temaCurso{
margin-bottom: 50px;

margin-bottom: 1rem;
line-height: 4rem;

text-shadow: 3px 3px 3px #0ABF04;

}

.textCurso{
    font-size: 5rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 3px 3px 9px #0ABF04;
}


#container img{
    color: #fff;
    position: relative;
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    left: 0px;
    transition: 250ms;
    z-index: -1;
    border-radius: 8px;
}
.buttonGaleria{
    color: #ffffff;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 35px;
    border: none;
    background: #201b2c;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;
}
#container:hover button{
    opacity: 1;
}
button:disabled{
    color: black;
}
#avancar{
    top: calc(50% - 25px);
    left: -1000px;
}
#voltar{
    top: calc(50% - 25px);
    right: 10px;
}
img{
    max-width: 80%;
    border: solid black;
}



/* Adicione uma media query para ajustar o estilo em telas menores */
@media screen and (max-width: 768px) {
    .footer-links ul {
        flex-direction: column; /* Empilhar os itens da lista verticalmente em telas menores */
    }

    .footer-links ul li {
        margin-right: 0; /* Remover a margem à direita dos itens da lista em telas menores */
    }

    .footer-social {
        margin-top: 20px; /* Aumentar o espaço acima dos ícones sociais em telas menores */
    }
}
