 /*Fontes utilizadas no site*/
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,500&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');
 /*Configuração geral do site*/

/*Variações de cores para utilizar no site*/
:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#000000;
    --blue:#00008b;
    --roxo:#201b2c;
    --verde:#0ABF04;
    --verdeclaro:#00ff88;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   list-style: none;
   text-decoration: none;
}

body{
   background:var(--dark);
   border-top: 20px;
   color: #fff;
   
   margin-top: 50px;
   height: 100%;
}
@media(min-width:576px)and(max-width:768px) {
   body{
       margin: none;
   }
   
}

.theme-light{
   background: #fff;
   color: #222;  
}
.theme-dark{
   background:#222;
   color: #fff;
}
/*Configurações da barra de navegação*/

.menu {
   position: fixed;
   top: 0%;
   left: 0;
   width: 100%;
   background: linear-gradient(#0ABF04, #381686);
   border: 2px solid white;
}

.menu li {
   display: inline;
}

.nav {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   position: fixed;
   width: 100%;
   height: 100px;
}

.menu a {
   text-decoration: none;
   margin: 10px;
   color: #fff;
   font-size: 15px;
}

.menu a:hover {
   color: var(--verdeclaro);
   cursor: pointer;
}

.menu .logo {
   font-size: 30px;
}

.fa-circle-half-stroke {
   margin: -20px;
   margin-left: 0px;
   border-radius: 50%;
   height: 50%;
   display: inline;
   position: relative;
   color: #fff;
}

.fa-circle-half-stroke a:hover {
   color: var(--verdeclaro);
   cursor: pointer;
}


@media screen and (max-width: 340px) {
   .nav {
      position: relative;
      z-index: 10;
      flex-direction: column; /* Empilhar os itens verticalmente */
      align-items: center; /* Centralizar os itens */
      height: auto; /* Ajustar a altura automaticamente conforme necessário */
   }

   .menu {
       border: none; /* Remover a borda em telas menores */
   }

   .menu li {
       display: block; /* Empilhar os itens verticalmente */
       text-align: center; /* Centralizar o texto */
   }

   .menu .logo {
       font-size: 24px; /* Reduzir o tamanho da fonte do logo */
   }
}


.text1{
   text-align: center;
   font-size: 4rem;
   margin-bottom: 1rem;
   line-height: 4rem;
   
   text-shadow: 3px 3px 3px #0ABF04;
   
}

 .container{
    background-color: rgb(206, 216, 205);
    padding: 6px;
    width: 350px;
    height: 500px;
    margin-top: 80px;
    margin-bottom: 80px;
   
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(104, 255, 104);
    z-index: 5;
 }
 
 form{
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
 }

 .buttonsForm{
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 rgb(104, 255, 104);
 }
 .buttonsForm button{
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 25px;
 }
 .btnColor{
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, #039d22,#97e59c);
    border-radius: 30px;
    transition: .3s;
 }
 input[type="text"], input[type="password"]{
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
 }
 button[type="submit"]{
    background: #006b20;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px ;
    margin-top: 40px; 
    cursor: pointer;
 }
  .divCheck{
    margin: 10px 0 0 5px ;
    width: 80%;
    font-size: 13px;
 } 
 #entrar{
    left: 25px;
 }
 #cadastro{
    left: 450px;
 }
 i{
    position: absolute;
    left: 0;
    padding: 10px 10px;
 }


 .fa-envelope{
    top:43px;
 }
 .fa-address-card{
    top:43px;
 }
 .fa-lock{
    top: 120px;
 }
 .fa-lock2{
    top: 195px;
 }
 img{
   position: relative;
   cursor: pointer;
   background: white;
   border-radius: 50%;
   display: inline;
   border: none;
      
}
/* Estilos para o rodapé */
footer {
   background: linear-gradient(#381686, #0ABF04);
   color: #fff;
   padding: 60px 0;

   .iconeRedes{
      position: relative;
   }  
   .footer-container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap; /* Permitir que os itens se movam para a próxima linha em telas menores */
      justify-content: space-between;
      align-items: center;
   }

   .footer-logo a {
      font-size: 1.5rem;
      color: #ffffff;
      text-decoration: none;
   }

   .footer-links ul {
      list-style: none;
      padding: 0;
      display: flex; /* Exibir os itens da lista horizontalmente */
   }

   .footer-links ul li {
      margin-right: 20px; /* Adicionar um espaço entre os itens da lista */
   }

   .footer-links ul li:last-child {
      margin-right: 0; /* Remover a margem à direita do último item da lista */
      margin-bottom: 10px; /* Adicionar espaço na parte inferior do último item da lista em telas menores */
   }

   .footer-links ul li a {
      color: #fff;
      text-decoration: none;
      transition: color 0.3s;
   }

   .footer-links ul li a:hover {
      color: #000000;
   }

   .footer-social {
      position: relative;
      margin-top: 10px; /* Adicionar espaço acima dos ícones sociais em telas menores */
   }
  
   .footer-social a {
      font-size: 1.5rem;
      color: #fff;
      text-decoration: none;
      margin-right: 10px;
      transition: color 0.3s;
   }

   .footer-social a:last-child {
      margin-right: 0; /* Remover a margem à direita do último ícone social */
   }

   .footer-social a:hover {
      color: var(--dark);
   }
}


/* Adicione uma media query para ajustar o estilo em telas menores */
@media screen and (max-width: 768px) {
   .footer-links ul {
       flex-direction: column; /* Empilhar os itens da lista verticalmente em telas menores */
   }

   .footer-links ul li {
       margin-right: 0; /* Remover a margem à direita dos itens da lista em telas menores */
   }

   .footer-social {
       margin-top: 20px; /* Aumentar o espaço acima dos ícones sociais em telas menores */
   }
}

