/*Fontes utilizadas no site*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,500&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap");
/*Configuração geral do site*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 10;
}

/*Configurações da barra de navegação*/
.wellcome{
  display:flex;
  justify-content:  center;

  color:#dbd6d1;
}

.menu {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  background: #000;
  border: none;
  /*border: 2px solid white;*/
  li {
    display: inline;
  }
  ul {
    position: absolute;
    width: 450px;
    top: 15px;
    right: 0;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
.fa-circle-half-stroke {
  margin: -20px;
  margin-left: 0px;
  border-radius: 50%;
  height: 50%;
  display: inline;
  position: relative;
  color: #fff;
}

.fa-circle-half-stroke a:hover {
  color: red;
  cursor: pointer;
}
#temaBtn {
  position: fixed;
  top: 38px;
  right: 80px;
  z-index: 11;
  cursor: pointer;
}

.menu2 {
  position: fixed;
  width: 100%;
  height: 100dvh;
  background: #000;
  top: 0;
  left: -100%;
  z-index: 12;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  opacity: 0;
  transition: 0.7s;
  a {
    color: #fff;
    text-decoration: none;
  }
  li {
    width: 120px;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #fff;
  }
  li:hover {
    background: #0abf04;
  }
  svg {
    fill: #fff;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    cursor: pointer;
    transition: 300ms;
  }
  svg:hover {
    transform: rotate(90deg);
  }
}
#iconMenu {
  position: fixed;
  top: 15px;
  right: 25px;
  z-index: 11;
  width: 23px;
  height: 23px;
  fill: #fff;
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

body {
  background: #222;
}
.menu a {
  text-decoration: none;
  /*text-transform: uppercase;*/
  margin: 10px;
  color: #fff;
  font-size: 15px;
  transition: 300ms;
}
.menu a:hover {
  color: var(--verdeclaro);
  cursor: pointer;
}
.menu .logo {
  font-size: 30px;
}
#cursos {
  padding-top: 100px;
}
#container {
  position: relative;
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  width: auto;
  left: auto;
  z-index: 5;
  margin-bottom: 200px;
}
img {
  border: none;
}

/* Estilos para o rodapé */
footer {
  width: 100%;
  margin: 0;
  left: 0;
  padding: 20px;
  background: #000;

  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;

  .cardFooter {
    width: 350px;
    min-width: 300px;

    li {
      cursor: pointer;
    }
    svg {
      fill: #fff;
      width: 25px;
      height: 25px;
      transition: 300ms;
      cursor: pointer;
    }
    svg:hover {
      fill: #0abf04;
    }
  }
  .cardFooter:first-of-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 45px;
  }
  .cardFooter:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: grey;
  }
  .cardFooter:last-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
    @media screen and (max-width: 1107px) {
      padding-top: 25px;
      justify-content: center;
      align-items: flex-start;
    }
    @media screen and (max-width: 756px) {
      justify-content: flex-start;
    }
  }
  @media screen and (max-width: 756px) {
    justify-content: flex-start;
  }
}
.containerCardCursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 100px;
  gap: 25px;

  .card-text {
    color: gray;
  }
  .card {
    --sizeCard: 275px;
    min-width: var(--sizeCard);
    max-width: var(--sizeCard);
    padding-bottom: 30px;
    img {
      min-width: 100%;
    }
  }
  #saibamaisCursos{
    position: absolute;
    bottom: 15px;
  }
}
.carousel-inner {
  @media screen and (max-width: 500px) {
    margin-top: -50px;
  }
}
#carouselExampleDark {
  width: 100%;
  left: 0%;

  .carousel-inner {
    .carousel-item {
      img {
        position: relative;
        border-radius: 25px;
        width: 50%;
      }
    }
  }
}
.home {
  .home-text {
    margin-top: 40px;
    max-width: 50%;
    @media screen and (max-width: 1250px) {
      max-width: 100%;
    }
  }
  .imgBannerHome {
    min-width: 400px;
  }
}
.carousel-indicators {
  position: absolute;
  @media screen and (max-width: 500px) {
    bottom: -50px;
  }
}
#bntCarousel {
  height: 25px;
  width: 25px;
  @media screen and (max-width: 500px) {
    margin-top: -50px;
  }
}
.containerbtnCarolsel {
  position: absolute;
  width: 100%;
  height: 25px;
  top: 320px;

  #prev,
  #next {
    position: absolute;
    width: 35px;
    height: 35px;
    border: none;
    color: #000;
    background: #000;
    top: 0;

    span {
      color: #fff;
    }
  }
  #prev {
    margin-left: 0;
    left: 50px;
  }
  #next {
    right: 50px;
  }
}
.fa-solid {
  height: 40px;
}
.cardFooter {
  a {
    text-decoration: none;
    color: #fff;
  }
}
.card-img-top {
    min-width: 300px;
    max-width: 300px;
    min-height: 180px;
    max-height: 180px;
}
