:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#000000;
    --blue:#00008b;
    --roxo:#201b2c;
    --verde:#0ABF04;
    --verdeclaro:#00ff88;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background:var(--dark);
    border-top: 20px;
    height: 100%;
    padding: 110px ;   
    color: #fff;
}
.theme-light{
    background: #fff;
    color: #000;
    
    
   
}
.theme-dark{
    background:#000;
    color: #fff;


}



.menu{
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;;
    background: linear-gradient(#0ABF04,#381686 ); 
    margin: 2px solid white;
    ;
    
}
.menu li{
    display: inline;
    
}

.nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    
    
    
   
    
    width: 100%;
    height: 100px;
}
button{
    background: white;
    border-radius: 50%;
    height: 50%;
    display: inline;
    margin-left: 70%;   
}
.menu a{
    
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    color: #fff;
    font-size: 15px;
}
.menu a:hover{
    color: var(--verdeclaro);
    cursor: pointer;
}
.menu .logo{
    font-size: 30px;
}
.nos{
    background:linear-gradient(#381686, black) ;
    border-radius: 0  0 50px 50px ;
    font-size: 90px;
    text-align: center;
    color: #ffffff;
    text-shadow:3px 3px 3px #0ABF04;
}
h1{
    text-align: center;
    
    text-shadow: 2px 2px #0ABF04;
}
h3{
    color:var(--verde);
    text-align: center;
    padding: 15px;
}
h2{
    background:linear-gradient(#381686, black) ;
    border-radius: 50px;
    text-align: center;
    padding: 15px;
}
.figure{
   border: solid white;

}
p{
    font-size:  22px;;
    margin-bottom: 4rem;
    
}
h2{
    
    color: var(--verde);
}
.col-2{
    text-align: center ;
    padding-top: 50px;
    
}






/* Estilos para o rodapé */
footer {
    background-color: var(--verde);
    color: #fff;
    padding: 20px 0;
     
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo a {
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #000000; /* Cor de destaque ao passar o mouse */
}

.footer-social a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: var(--dark); /* Cor de destaque ao passar o mouse */
}
.img{
    padding: 1px;
    margin: 1px;
    border: 2px solid white;
}
