:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#000000;
    --blue:#00008b;
    --roxo:#201b2c;
    --verde:#0ABF04;
    --verdeclaro:#00ff88;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background:var(--dark);
    border-top: 20px;
    height: 100%;
    padding: 100px ;   
    color: #fff;
}
@media(min-width:576px)and(max-width:768px) {
    body{
        margin: none;
    }
    
}


.theme-light{
    background: #fff;
    color: #000;
    
    
   
}
.theme-dark{
    background:#000;
    color: #fff;


}



.menu{
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;;
    background: linear-gradient(#0ABF04,#381686 ); 
    margin: 2px solid white;
    ;
    
}
.menu li{
    display: inline;
    
}

.nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    
    
    
   
    
    width: 100%;
    height: 100px;
}


.menu a{
    
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    color: #fff;
    font-size: 15px;
}
.menu a:hover{
    color: var(--verdeclaro);
    cursor: pointer;
}
.menu .logo{
    font-size: 30px;
}

.fa-circle-half-stroke{
   
    margin: -20px;
    margin-left: 0px;
    border-radius: 50%;
    height: 50%;
    display: inline; 
    position: relative;
    color: #fff;

 }
 .fa-circle-half-stroke a:hover{
    color: var(--verdeclaro);
    cursor: pointer;
 }
.conteiner{
    display: grid;
 
}
.nos{
    background:linear-gradient(#381686, black) ;
    border-radius: 0  0 50px 50px ;
    font-size: 90px;
    text-align: center;
    color: #ffffff;
    text-shadow:3px 3px 3px #0ABF04;
}
.titulo2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    
    text-shadow: 3px 3px 3px #0ABF04;
}

.tituloh2{
    background:linear-gradient(#381686, black) ;
    border-radius: 50px;
    color: var(--verde);
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}

@media (max-width:400px) {
    .nos{
        
        font-size: 35px;
        margin-top: 35px;
        margin-left: -100px;
        margin-right: -80px;     
 
    }
    .tituloh2{
        
        font-size: 35px;
        margin-top: 35px;
        margin-left: -100px;
        margin-right: -80px;     
 
    }
    .tituloh3{
        
        font-size: 35px;
        margin-top: 35px;
        margin-left: -100px;
        margin-right: -80px;     
 
    }
    .valores{
        
        font-size: 35px;
        margin-top: 35px;
        margin-left: -100px;
        margin-right: -80px;     
 
    }
    footer{
        
        font-size: 35px;
        margin-top: 35px;
        margin-left: -100px;
        margin-right: -80px;     
 
    }

    
}

h3{
    color:var(--verde);
    text-align: center;
    padding: 15px;
}

.text1 h5{
    text-align: justify;
    padding: 10px;
}
.figure{
   
   margin-bottom: 4rem;

   display: flex;
   justify-content: center;
}
#figLevel{
    max-width: 80%;
    border: solid white;
}
p{
    font-size:  22px;;
    margin-bottom: 4rem;
    
}
.col-2{
    text-align: center ;
    padding-top: 50px;
    margin-bottom: 4rem;
    
}

.valores{
    background:linear-gradient(#381686, black) ;
    border-radius: 50px;
    color: #0ABF04;
    text-align: center;
    
}





/* Estilos para o rodapé */
footer {
    background:linear-gradient(#381686,#0ABF04 ) ;
    color: #fff;
    padding: 20px 0;
    
     
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo a {
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #000000; /* Cor de destaque ao passar o mouse */
}

.footer-social a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: var(--dark); /* Cor de destaque ao passar o mouse */
}

