
:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#000000;
    --blue:#00008b;
    --roxo:#201b2c;
    --verde:#0ABF04;
    --verdeclaro:#00ff88;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background:var(--dark);
    border-top: 20px;
    height: 100%;
    padding: 100px ;   
    color: #fff;
}
@media(min-width:576px)and(max-width:768px) {
    body{
        margin: none;
    }
    
}


.theme-light{
    background: #fff;
    color: #000;
    
    
   
}
.theme-dark{
    background:#000;
    color: #fff;


}



.menu{
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;;
    background: linear-gradient(#0ABF04,#381686 ); 
    margin: 2px solid white;
    ;
    
}
.menu li{
    display: inline;
    
}

.nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    
    
    
   
    
    width: 100%;
    height: 100px;
}


.menu a{
    
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    color: #fff;
    font-size: 15px;
}
.menu a:hover{
    color: var(--verdeclaro);
    cursor: pointer;
}
.menu .logo{
    font-size: 30px;
}
.fa-circle-half-stroke{
   
    margin:-25px;
    border-radius: 50%;
    height: 50%;
    display: inline; 
    position: relative;
    color: #fff;

 }
 .fa-circle-half-stroke a:hover{
    color: var(--verdeclaro);
    cursor: pointer;
 }

/*Config geral dos cards*/

.card{
    background-color: aliceblue;
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    z-index: -1;
}

/*Config das imagens do card*/

.card img{
    width: 100%;
    height: 130px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/*Config da parte central do card*/

.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4px;
    height: 50%;

}
.card h1{
    font-size: 1rem;
    color:#77ffc0 ;
}
.card h2{
    font-size: .9rem;
    color: #201b2c;
}


/*Config do botão (saiba mais) */
.card button{

    background: #201b2c;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #77ffc0;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}





footer {
    background:linear-gradient(#381686,#0ABF04 ) ;
    color: #fff;
    padding: 20px 0;
    
     
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo a {
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #000000; /* Cor de destaque ao passar o mouse */
}

.footer-social a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: var(--dark); /* Cor de destaque ao passar o mouse */
}







